*{
  margin: 0;
  padding: 0;
}

.navbar{
  width: 1300px;
  height: 75px;
  background-color: #03045E;
}

.myname{  
  float: left;
  margin-left: 15px;
  margin-top: 15px;
  color: white;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.menu{
  float: left;  
  width: 300px; 
  height: 70px;  
}

ul {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li {
  list-style: none;
  margin: 35px;
  margin-top: 30px;
  font-size: 15px; 
}

ul li a{
  text-decoration: none;
  color: white;
  font-family: Arial;
  font-weight: bold;
  transition: .4s ease-in-out;
}

ul li a:hover{
  color: #90E0EF;
}

.description{
  padding-top: 0px;
  width: 1300px;
  height: 490px;  
  background-color: #90E0EF;
}

.p-about{  
  margin-left: 30px;
  align-items: center; 
  padding-top: 150px;
  font-size: 25px;
}


.myImage{
  border-radius: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border: 1px solid black;
  box-shadow: 5px 5px 8px rgb(6, 1, 1);
  float: left;
  margin-right: 120px;  
  margin-left: 60px;  
  margin-top: 90px;
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.myImage:hover{  
  transform: scale(1.05);
}


.about{
  width: 1300px;
  height: 510px;  
  background-color: #023E8A;
}

.ins-about{
  color: white;
  margin-left: 20px;
}

.abouth1{
  align-items: center;
  margin-left: 500px;
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace;
  padding-top: 10px;
}

.abouth2{
  align-items: center;
  margin-left: 540px; 
  font-family: 'Courier New', Courier, monospace;
   padding-top: 10px;
}

.p-about2{
  padding-top: 30px;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 30px;
}

.mynametwo{
  color: #023E8A;
  font-size: 60px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.wjd{
  display: flex;
}
/*FOR WEB DELOPMENT CONTAINER*/
.html{
  width: 270px;  
  margin-left: 50px;
  margin-top: 20px;
  border: black;
  border: 1px solid black;
  box-shadow: 5px 5px 8px rgb(6, 1, 1);
  background-color: white;
  padding-top: 25px;
  border-radius: 10px;  
  transition: transform 0.3s ease, box-shadow 0.3s ease;   
}

.html:hover{
  transform: scale(1.05);
}

.h3_web{
  padding-left: 50px;
   font-family: 'Courier New', Courier, monospace;
}

.img_web{ 
  align-items: center;
  margin-left: 35px;
  padding-top: 20px;
  border-radius: none;  
}

.btnRead-html{
  margin: 25px;
  margin-left: 80px; 
  margin-top: 40px;
  padding-left: 20px; 
  padding-right: 20px;
  height: 35px;
  border-radius: 5px; 
  border-style: none; 
  background-color: #023E8A;
  cursor: pointer;
  transition: .4s ease-in-out;
}

.btnRead-html:hover{
  background-color:#03045E;
}

.btnRead-html a{
  text-decoration: none;
  font-size: 15px;
  color: white;
}

/*FOR JAVA CONTAINER*/
.java{
  width: 270px;  
  margin-left: 170px;
  margin-top: 20px;
  border: black;
  border: 1px solid black;
  box-shadow: 5px 5px 8px rgb(6, 1, 1);   
  background-color: white;
  padding-top: 25px;
  border-radius: 10px;   
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.java:hover{
  transform: scale(1.05);
}

.h3_java{
  padding-left: 100px;
  font-family: 'Courier New', Courier, monospace;
}

.img_java{ 
  align-items: center;
  margin-left: 35px;
  padding-top: 20px;
  border-radius: none;
}

.btnRead-java{
  margin: 25px;
  margin-left: 80px; 
  padding-left: 20px; 
  padding-right: 20px;
  height: 35px;
  border-radius: 5px; 
  border-style: none; 
  background-color: #023E8A;
  cursor: pointer;
  transition: .4s ease-in-out;
}

.btnRead-java:hover{
  background-color:#03045E;
}

.btnRead-java a{
  text-decoration: none;
  font-size: 15px;
  color: white;
}

/*FOR SQL CONTAINER*/
.sql{
  width: 270px;  
  margin-left: 170px;
  margin-top: 20px;
  border: black;
  border: 1px solid black;
  box-shadow: 5px 5px 8px rgb(6, 1, 1);   
  background-color: white;
  padding-top: 25px;
  border-radius: 10px;   
  transition: transform 0.3s ease, box-shadow 0.3s ease;  
}

.sql:hover{
  transform: scale(1.05);
}

.h3_database{
  padding-left: 50px;
  font-family: 'Courier New', Courier, monospace;
}

.img_sql{ 
  align-items: center;
  margin-left: 35px;
  padding-top: 20px;
  border-radius: none;
}

.btnRead-sql{
  margin: 25px;
  margin-left: 80px; 
  padding-left: 20px; 
  padding-right: 20px;
  height: 35px;
  border-radius: 5px; 
  border-style: none; 
  background-color: #023E8A;
  cursor: pointer;
  transition: .4s ease-in-out;
}

.btnRead-sql:hover{
  background-color:#03045E;
}

.btnRead-sql a{
  text-decoration: none;
  font-size: 15px;
  color: white;
}
    
/* PROJECTS SECTION*/

.projects{
  width: 1300px;
  height: 300px;  
  background-color:#90E0EF
}

.projects .projects-header{
  margin-left: 500px;
  padding-top: 25px;
}

.projects .projects-header h2{
  color:#023E8A;
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
}

.projects .projects-header p{
  color: #023E8A;
  font-family: 'Courier New', Courier, monospace;
  align-items: center;
}

.projects-subheader-Student-Management{
  margin-left: 120px;
  background-color: white;
  width: 260px;
  height: 150px;
}

.projects-subheader-webpage{
  margin-left: 720px;    
  margin-top: 10px;
  margin-bottom: 0px;
  background-color: white;
  width: 260px;
  height: 150px;
    
}